/* You can add global styles to this file, and also import other style files */

@import "./fonts.scss";
@import "./variables.scss";

.margin-bottom {
  margin-bottom: 1rem;
}

.top-border {
  border-top: 4px solid $brand-crimson;
}

.button.button-gradient {
  background: $button-gradient-background-color;

  &.is-active,
  &:active {
    background: $button-gradient-background-color-danger;
    color: $brand-white;
  }
}

@import '~node_modules/bulma/sass/utilities/_all';
@import '~node_modules/bulma/sass/base/_all';
@import '~node_modules/bulma/sass/form/_all';
@import '~node_modules/bulma/sass/grid/_all';
@import '~node_modules/bulma/sass/elements/_all';
@import '~node_modules/bulma/sass/components/_all';
@import '~node_modules/bulma/sass/layout/_all';
