$family-primary: "FuturaFuturisRegular", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$white: #FFFFFF;
$brand-crimson: #ff2d00;
$brand-deep-crimson: #bf2201;
$danger: $brand-crimson;
$brand-shade: hsl(0, 0%, 81%);
$brand-half-shade: hsl(0, 0%, 91%);
$brand-white: #fbfbfb;
$body-background-color: #f1f1f1;

$navbar-breakpoint: 320px;
$navbar-background-color: $brand-white;

$button-gradient-background-color: linear-gradient($white, $brand-half-shade);
$button-gradient-background-color-danger: linear-gradient($brand-crimson, $brand-deep-crimson);

$button-active-border-color: $brand-crimson;
$button-hover-color: $brand-crimson;
$button-active-color: $brand-crimson;
