<div class="level">
  <div class="level-left">
    <a class="button button-gradient" (click)="onAdd()">
      Добавить
    </a>
  </div>
  <div class="level-right">
    <nav class="pagination" role="navigation" aria-label="pagination">
      <!--
      <a class="pagination-previous"></a>
      <a class="pagination-next"></a>
      -->
      <ul class="pagination-list">
        <li>
          <a class="pagination-link button" aria-label="Goto page 1">1</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
